services:

  mariadb:
    image: mariadb:11.7.2
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - 3306:3306
    restart: unless-stopped
    
volumes:
  mariadb_data:
    